<div class="header-container">
  <div class="left-items">
    <div class="title">
      <span class="pi pi-microsoft"></span>
      <span>DASHBOARD</span>
    </div>
  </div>

  <div class="right-items">
    <p-button [rounded]="true" [text]="true" (click)="languageMenu.toggle($event)">
      <span class="material-icons">language</span>
    </p-button>
    <p-button [rounded]="true" [text]="true" (click)="themeService.toggleTheme()">
      <span class="material-icons">{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</span>
    </p-button>
  </div>
</div>

<p-menu #languageMenu [popup]="true" [model]="languageItems" />
