<p-dialog [header]="(exchangeAccount?.id ? 'GENERAL.UPDATE' : 'GENERAL.CREATE') | translate" [modal]="true" [draggable]="false" [(visible)]="visible" [style]="{ width: '25rem' }" [closable]="false">
  <form [formGroup]="formGroup" class="dialog-container">
    <input type="text" pInputText formControlName="name" [placeholder]="'FORMS.NAME' | translate" />
    <input type="text" pInputText formControlName="color" [placeholder]="'FORMS.COLOR' | translate" />
    <input type="text" pInputText formControlName="logo" [placeholder]="'FORMS.LOGO' | translate" />

    <div class="actions">
      <p-button [label]="'GENERAL.CANCEL' | translate" [text]="true" (onClick)="onCancel()"></p-button>
      <p-button [label]="'GENERAL.SAVE' | translate" (onClick)="onSave()" [disabled]="formGroup.invalid"></p-button>
    </div>
  </form>
</p-dialog>
