<p-dialog [header]="(exchangeAccount?.id ? 'GENERAL.UPDATE' : 'GENERAL.CREATE') | translate" [modal]="true" [draggable]="false" [(visible)]="visible" [style]="{ width: '25rem' }" [closable]="false">
  <form [formGroup]="formGroup" class="dialog-container">

    <app-color-picker-input title="FORMS.COLOR" formControlName="color" />
    <app-float-label-input title="FORMS.LOGO" formControlName="logo" />
    <app-float-label-input title="FORMS.NAME" formControlName="name" />

    <div class="actions">
      <p-button [label]="'GENERAL.CANCEL' | translate" [text]="true" (onClick)="onCancel()"></p-button>
      <p-button [label]="'GENERAL.SAVE' | translate" (onClick)="onSave()" [disabled]="formGroup.invalid"></p-button>
    </div>
  </form>
</p-dialog>
