<div class="sign-in-container">
  <div class="content card">
    <form [formGroup]="loginForm">
      <p class="title">{{'PAGES.SIGN_UP' | translate }}</p>
      <input type="text" pInputText formControlName="firstName" [placeholder]="'FORMS.FIRST_NAME' | translate"/>
      <input type="text" pInputText formControlName="lastName" [placeholder]="'FORMS.LAST_NAME' | translate"/>
      <input type="text" pInputText formControlName="username" [placeholder]="'FORMS.USERNAME' | translate"/>
      <p-password formControlName="password" [placeholder]="'FORMS.PASSWORD' | translate" [toggleMask]="true"/>
      <p-password formControlName="password" [placeholder]="'FORMS.CONFIRM_PASSWORD' | translate" [toggleMask]="true"/>
      <button pButton class="sign-in-button" [label]="'FORMS.SIGN_UP' | translate" (click)="signUp()"></button>
      <p-button [link]="true" [label]="'FORMS.SIGN_IN_LINK' | translate" (click)="signInLink()"></p-button>
    </form>
  </div>
</div>
