.sidenav-item {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px;
  border-radius: 5px;

  // Add transition for smooth effect
  transition: background-color 0.3s ease, transform 0.3s ease;

  .icon {
    font-weight: bolder;
    font-size: 25px;
    color: var(--text-color);
    // Add transition to the icon color
    transition: color 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--surface-200);
    border-radius: var(--border-radius);
    // Add hover animation to make it more interactive
    transform: scale(1.05);
  }

  &.side-nav-item-selected {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);

    // Slightly increase the size on select for a smooth animation
    transform: scale(1.1);

    .icon {
      color: var(--primary-color-text);
    }
  }
}
