.main-layout {
  $header_height: 65px;
  $sidenav_width: 75px;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  app-header {
    width: 100%;
    height: $header_height;
  }

  .content {
    width: 100%;
    height: calc(100% - $header_height);
    display: flex;
    flex-direction: row;

    app-sidenav {
      height: 100%;
      width: $sidenav_width;
      overflow: hidden;
    }

    .router-outlet-container {
      height: 100%;
      width: 100%;

      background-color: var(--surface-c);

      border-top-left-radius: 25px;
    }

  }
}
