/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'material-icons/iconfont/material-icons.css';

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--surface-card);
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
}
